[Unit]
Description=Jenkins status visualization
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar /home/pi/henkinson/henkinson-full.jar

[Install]
WantedBy=multi-user.target