[Unit]
Description=Jenkins status visualization
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -XX:ErrorFile=/home/pi/henkinson/jvm_crash.log -jar /home/pi/henkinson/henkinson-full.jar
SuccessExitStatus=143
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target